body{
	color: black;
background-color: #EED2EE;
}

td{
	height: 100px;
	width: 100px;
	text-align: center;
	border: solid 2px white;
	color: white;
	font-size: 24px;
	font-weight: bold;
	font-style: uppercase;
}

input {
	border: none;
}