body{
	color: black;
	background-color: #EED2EE;
}

td{
	height: 50px;
	width: 50px;
	text-align: center;
	border: solid 2px white;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

input {
	border: none;
}